.leaflet-container {
  height: 400px;
  width: 100%;
}

.card-box {
  overflow: auto;
  max-height: 550px;
}

.form {
  margin: 0 auto;
  padding: 100px 30px 0;

  @media (min-width: 800px) {
    max-width: 60%;
  }
}

.input-range {
  margin-bottom: 160px;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #2E3563 !important;
}