@import '~bootstrap/scss/bootstrap.scss';

$dark_blue: #0D1543;
$dark_grey: #2E3563;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark_blue;
  color:white;
}

a {
  color:white;
}

